# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
zproto
luabind/lua53
luabind/test
# C++ build artifacts
cpp/emitter/zproto
cpp/emitter/zproto_c.o
cpp/tests/test
cpp/tests/test_codec
cpp/tests/hello_world.hpp
cpp/tests/hello_world.message.hpp
csbind/hello_world.cs
